/* General */
@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Loading keyframes */
@keyframes loading {
    from {
        width: calc(1% - 2px);
    }
    to {
        width: calc(100% - 2px);
    }
}

/* Door background */
@keyframes doorToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    } 
    to {
        transform: translate(-100%);
        opacity: .1;
    }
}

@keyframes doorToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    } 
    to {
        transform: translate(100%);
        opacity: .1;
    }
}

@keyframes doorBorderRadiusLeft {
    from {
        border-top-right-radius: 0;
        border-bototm-right-radius: 0;
    } 
    to {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
}

@keyframes doorBorderRadiusRight {
    from {
        border-top-left-radius: 0;
        border-bototm-left-radius: 0;
    } 
    to {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
    }
}

/* Panel */
@keyframes bottomToCenter {
    from {
        transform: translateY(100%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotateBar {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    } to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes circleScale {
    0% {
        width: 200px;
        height: 200px;
    }
    50% {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    100% {
        width: 230px;
        height: 230px;
        border-radius: 32px;
    }
}

@keyframes changeFirstCircle {
    from {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: rgba(29, 35, 114, .8);
    } to {
        width: 100%;
        height: 230px;
        border-radius: 32px;
        background-color: rgba(29, 35, 114, .4);
    }
}

@keyframes changeImg {
    from {
        width: 130px;
        height: 130px;
        border-radius: 50%; 
    }
    to {
        width: 100%;
        height: 100%;
        border-radius: 32px;
    }
}

@keyframes nameFadeIn {
    from {
        font-size: 0rem;
    } to {
        font-size: 2.4rem;
        margin-left: 32px;
    }
}

@keyframes circleToSmall {
    from {
        width: 230px;
        height: 230px;
        border-radius: 32px;
    } to {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

@keyframes circleImgFadeOut {
    from {
        width: 200px;
        height: 200px;
        opacity: 1;
    } to {
        height: 0;
        width: 0;
        opacity: 0;
    }
}

@keyframes circleFadeOut {
    from {
        top: 50%;
        opacity: 1;
    } to {
        top: 0;
        opacity: 0;
    }
}

/* Clock */
@keyframes clockTranslateY {
    from {
        bottom: 0;
        opacity: 0;
    } to {
        bottom: 25%;
        opacity: 1;
    }
}

@keyframes clockFadeOut {
    from {
        bottom: 25%;
        opacity: 1;
    } to {
        bottom: 0;
        opacity: 0;
    }
}

/* Button */
@keyframes buttonTranslateY {
    from {
        bottom: 0;
        opacity: 0;
    } to {
        bottom: 15%;
        opacity: 1;
    }
}

@keyframes buttonFadeOut {
    from {
        bottom: 15%;
        opacity: 1;
    } to {
        bottom: 0;
        opacity: 0;
    }
}

/* Blur background */
@keyframes blurBg {
    to {
        opacity: 1;
    }
}