@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,700&display=swap');

:root {
    /* Loading */
    --loading-color: rgb(222, 222, 222);

    /* General */
    --text-color: rgb(206, 206, 206);
}

/* Reset */
button {
    outline: none;
    border: none;
    color: var(--text-color);
    font-size: 1.4rem;
}