* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;  
}

code {
    font-family: 'Source Code Pro' monospace;
    font-weight: 500;
}

/* Loading background */
.loading-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    animation: .5s fadeOut 2s linear forwards;
}

.loading-label {
    position: absolute;
    top: -32px;
    left: -4px;
    font-size: 2rem;
    color: var(--loading-color);
}

.loading-track {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 20px;
    border: 3px solid var(--loading-color);
    border-radius: 6px;
}

.loading-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 12px;
    background-color: var(--loading-color);
    animation: 2s loading 1;
    border-radius: 4px
}

/* Door background */
.bg-door {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.bg-door-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--primary-color);
    animation: 1.5s doorToLeft 2s forwards, 2s doorBorderRadiusLeft 2s forwards;
}

.bg-door-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--primary-color);
    animation: 1.5s doorToRight 2s forwards, 2s doorBorderRadiusRight 2s forwards;
}

/* Panel */
.panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    animation: 2s bottomToCenter 2s forwards ease;
}

.panel-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--primary-color-opacity);
    animation: 1s circleScale 5s forwards;
    box-shadow: 0 0 10px #fff;
}

.panel-circle-first {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 1;
    animation: 1s changeFirstCircle 6s forwards;
    transition: all 1s ease;
}

.panel-circle-first--on-btn-hover {
    animation: 1s circleToSmall ease forwards, 1s circleFadeOut 1s ease forwards;
}

.panel-circle-first--on-btn-hover 
.panel-circle-first {
    animation: 1s circleToSmall ease forwards;
}

.panel-circle-first--on-btn-hover  
.panel-circle-img {
    animation: 1s circleImgFadeOut ease forwards;
}

.panel-circle-item {
    position: absolute;
    width: 200px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29, 35, 114, .4);
    animation: 1s var(--type) infinite ease-in-out, 1s fadeOut 5s forwards;
    z-index: 0;

}

.panel-circle-img {
    align-self: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
    background-image: var(--bg-url);
    animation: 1s changeImg 6s forwards;
}

/* Digital clock */
.digital-clock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--text-color);
    animation: 1s clockTranslateY 6s forwards;
    z-index: 1;
}

.digital-clock.digital-clock--fade-out {
    animation: 1s ease-in-out clockFadeOut;
}

/* Button start */
.start {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
    font-size: 3rem;
    padding: 10px 24px;
    border-radius: 8px;
    animation: 1s buttonTranslateY 6.5s forwards;
    transition: transform .5s ease, box-shadow .5s ease;
    z-index: 11;
}

.start.start--fade-out {
    animation: .5s buttonFadeOut ease-in-out;
}

.start:hover {
    cursor: pointer;
    transform: translate(calc(-50% + 2px), 100%);
    box-shadow: -4px -1px 10px rgb(78, 78, 78);
}

/* Blue background */
.blur-bg {
    z-index: 0;
    position: fixed;
    top: -15px;
    left: -15px;
    width: calc(100vw + 30px);
    height: calc(100vh + 30px);
    background-image: url(../img/wallpapers/preload-bg.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    filter: blur(8px);
    opacity: 0;
    animation: .5s blurBg 6s forwards;
}