* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;  
}

code {
    font-family: 'Source Code Pro' monospace;
    font-weight: 500;
}

/* Loading background */
.loading-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    animation: .5s fadeOut 2s linear forwards;
}

.loading-label {
    position: absolute;
    top: -32px;
    left: -4px;
    font-size: 2rem;
    color: var(--loading-color);
}

.loading-track {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 20px;
    border: 3px solid var(--loading-color);
    border-radius: 6px;
}

.loading-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 12px;
    background-color: var(--loading-color);
    animation: 2s loading 1;
    border-radius: 4px
}

/* Door background */
.bg-door {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.bg-door-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(29, 35, 114);
    animation: 1.5s doorToLeft 2s forwards, 2s doorBorderRadiusLeft 2s forwards;
}

.bg-door-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: rgb(29, 35, 114);
    animation: 1.5s doorToRight 2s forwards, 2s doorBorderRadiusRight 2s forwards;
}

/* Panel */
.panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    animation: 2s bottomToCenter 2s forwards ease;
}

.panel-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(29, 35, 114, .3);
    animation: 1s circleScale 5s forwards;
}

.panel-circle-first {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: rgba(29, 35, 114, .8);
    z-index: 1;
    animation: 1s changeFirstCircle 6s forwards; 
}

.panel-circle-item {
    position: absolute;
    width: 200px;
    height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29, 35, 114, .4);
    animation: 1s var(--type) infinite ease-in-out, 1s fadeOut 5s forwards;
    z-index: 0;

}

.panel-circle-img {
    align-self: center;
    width: 130px;
    height: 130px;
    margin-left: 5px;
    border-radius: 50%;
    background-size: cover;
    background-image: var(--bg-url);
    animation: 1s changeImg 6s forwards;
}

.panel-circle-first__name {
    font-size: 0rem;
    color: var(--text-color);
    font-style: oblique;
    animation: 1s nameFadeIn 6.5s forwards;
    margin-right: auto;
    margin-left: 0;
    margin-top: 10px;
}